---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="About">
<section class="container about" aria-label="About me">
  <img src="/images/headshot.jpg" alt="My headshot" width="200" height="330" />
  <div class="content">
    <h1 class="h1">My Blog</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione architecto officia, debitis doloremque dicta quam ipsa dolorem excepturi, dolorum quo error ipsum facere saepe eos tempore earum perspiciatis id nesciunt deleniti maxime deserunt velit natus quis. Consectetur natus nihil adipisci.</p>
    <Link 
      href="mailto:pychapman22@gmail.com"
      style="primary"
      text="Contact me &rsaquo;" 
      />
  </div>
</section>
</MainLayout>
